.action-column {
	width: 68.5px;
}

.form-group.required label:after {
	content: " *";
	color: #de350b;
	font-size: 12px;
	font-weight: bold;
}

span.required {
	color: #de350b;
	font-size: 12px;
	font-weight: bold;
}

form.form-inline input.form-control.medium, form.form-inline select.form-control.medium {
	width: 200px;
}


form.form-inline input.form-control.small, form.form-inline select.form-control.small {
	width: 125px;
}
