.action-column {
	width: 68.5px;
}

.form-group.required > label:after {
	content: " *";
	color: #de350b;
	font-size: 12px;
	font-weight: bold;
}

span.required {
	color: #de350b;
	font-size: 12px;
	font-weight: bold;
}

form input.form-control.medium, form select.form-control.medium {
	width: 200px;
}

form input.form-control.small, form select.form-control.small {
	width: 125px;
}

form input.form-control.xsmall, form select.form-control.xsmall {
	width: 75px;
}

.parent-flow {
	position: relative;
	height: 0;
}

