/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require datatables.bundle
*= require plugins.bundle
*= require style.bundle
*= require navy
*= require app
*= require_self
*/


#body-login-v1::after {
	content: "";
	background-image: url('jd-s700.jpg'); 
	background-size: cover; 
	background-repeat: no-repeat; 
	opacity: 0.4; 
	top: 0;
	left: 0;
	bottom: 0;
  	right: 0;
  	position: absolute;
	z-index: -1;
}

.eta-green-dark {
	color: #008a2e;
}

.eta-green-light {
	color: #41a62a;
}

.eta-yellow {
	color: #fce80d;
}